/OracleDlls
/9700/oci.dll
/9700/Oracle.DataAccess.dll
/9700/oramts.dll
/9700/oramts11.dll
/9700/oramtsus.dll
/9700/orannzsbb11.dll
/9700/oraocci11.dll
/9700/oraociei11.dll
/9700/OraOps11w.dll
/Opera/oci.dll
/Opera/Oracle.DataAccess.dll
/Opera/oramts.dll
/Opera/oramts11.dll
/Opera/oramtsus.dll
/Opera/orannzsbb11.dll
/Opera/oraocci11.dll
/Opera/oraociei11.dll
/Opera/OraOps11w.dll
/Tester/oraociei11.dll
/Tester/OraOps11w.dll
/Tester/oci.dll
/Tester/Oracle.DataAccess.dll
/Tester/oramts.dll
/Tester/oramts11.dll
/Tester/oramtsus.dll
/Tester/orannzsbb11.dll
/Tester/oraocci11.dll
/Utils/OraOps11w.dll
/Utils/oraociei11.dll
/Utils/oci.dll
/Utils/Oracle.DataAccess.dll
/Utils/oramts.dll
/Utils/oramts11.dll
/Utils/oramtsus.dll
/Utils/orannzsbb11.dll
/Utils/oraocci11.dll
/9700/bin
/9700/obj
/Opera/bin
/Opera/obj
/Tester/bin
/Tester/obj
